
<div class="container">
  <div class="row">
    <div class="col-4">
      <form #userForm="ngForm" (ngSubmit)="updateUser(userForm)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="usersService.selectedUser._id">
        <div class="form-group">
          <label for="exampleFormControlInput1">Nombre de usuario</label>
          <input type="text" name="username" #username="ngModel" [(ngModel)]="usersService.selectedUser.username" class="form-control" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Contraseña</label>
            <input type="text" name="password" #password="ngModel" [(ngModel)]="usersService.selectedUser.password" class="form-control" >
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Película</label>
            <select name="title" #title="ngModel" [(ngModel)]="movieService.selectedMovie.title" class="form-control" >
              <option *ngFor="let movie of movieService">{{ movie.title }}</option>
              <option>La mosca</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Peli</label>
            <input type="text" name="moviesId" #moviesId="ngModel" [(ngModel)]="usersService.selectedUser.moviesId" class="form-control" >
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Actualizar avatar</label>
            <input type="text" name="avatar" #avatar="ngModel" [(ngModel)]="usersService.selectedUser.avatar" class="form-control" >
          </div>
          <button style="width: 70px">Guardar</button>
      </form>
      <!-- <button (click)="resetForm()" style="width: 70px">Clean</button> -->
    </div>
    <div class="col-8">
      <table>
        <thead>
        <th>Avatar</th>
         <th>Name</th>
         <th>Password</th>
         <th>Movies</th> 
          
        </thead>
        <tbody>
          <tr *ngFor="let user of usersService.users">
            <td><img [src]="user?.avatar" class="imgSize" alt="..." /></td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.moviesId }}</td>
            <td>
              <button (click)="editUser(user)" style="width: 70px">Editar</button>
              <button [routerLink]="['/users/my-profile', user._id]" style="width: 70px">Usuario </button>
              <button (click)="deleteUser(user._id)" style="width: 70px">Borrar</button></td>
              
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  
</div>