<div class="jumbotron jumbo">
  <h1 class="display-4 offset-2">Bienvenido a Peliculas Pelis</h1>
  <p class="lead">
    美造不的力藥家，險後藥般三統完，燈洋界！了好總助西結程利……樣人媽來，最開支如關品算文麼的過叫種，看品上己知是很放是可善；業球是眼子期一事。頭而地色推應近、…
  </p>
  <hr class="my-4" />
  <p  style="color:rgb(255, 255, 255); font-size:18px;"class="offset-2">
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <a class="btn mt-2 btn-lg offset-4 boton" href="#Fiction" role="button">Fiction</a>
  <a class="btn mt-2 btn-lg ml-4 boton" href="#Historic" role="button">History</a>
  <a class="btn mt-2 btn-lg ml-4 boton" href="#Drama" role="button">Drama</a>
</div>

<div class="container text-center ">
  <h2>Drama</h2>
  <div class="row justify">
    <div *ngFor="let movie of movieService.movies">
      <div *ngIf="movie.genre == 'Drama'">
      <div class="col-4 mt-4 mb-4">
    
      <app-card [movie]="movie"></app-card> <!--Aqui mandamos el objeto 'movie' a el componente card-->
    </div>
  </div>
</div>

</div>
<h2 id="Fiction">Fiction</h2>
<div class="row justify">
  <div  *ngFor="let movie of movieService.movies">
    <div *ngIf="movie.genre == 'Fiction'">
      <div class="col-4 mt-4 mb-4">
      <app-card [movie]="movie"></app-card> <!--Aqui mandamos el objeto 'movie' a el componente card-->
    </div>
  </div>
  </div>
</div>
<h2 id="Historic">History</h2>
<div class="row justify">
  <div  *ngFor="let movie of movieService.movies">
    <div *ngIf="movie.genre == 'History'">
      <div class="col-4 mt-4 mb-4">
      <app-card [movie]="movie"></app-card> <!--Aqui mandamos el objeto 'movie' a el componente card-->
    </div>
  </div>
  </div>
</div>
</div>


