<form #movieForm="ngForm" (ngSubmit)="addMovie(movieForm)">
     <div class="form-group">
      <label for="exampleFormControlInput1">Título</label>
      <input type="email" class="form-control" 
      name="title" #title="ngModel" [(ngModel)]="movieService.selectedMovie.title">
    </div>
   
  <!--I´m not sure how to set a default value-->

  <div class="form-group">
    <label for="exampleFormControlSelect1" >Género</label>
    <select class="form-control" 
     name="genre" #genre="ngModel" [(ngModel)]="movieService.selectedMovie.genre">
      <option>Drama</option>
      <option>Fiction</option>
      <option>History</option>
    </select>
  </div>


    <div class="form-group">
        <label for="exampleFormControlSelect1">Status</label>
        <select class="form-control" 
        name="status" #status="ngModel" [(ngModel)]="movieService.selectedMovie.status">
          <option>Favourite</option>
          <option>Watched</option>
          <option>Pending</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Poster Link</label>
        <input type="email" class="form-control" 
        name="poster" #poster="ngModel" [(ngModel)]="movieService.selectedMovie.poster">
      </div>
     
<button>Agregar Pelicula</button>
<button (click)="resetForm(movieForm)">Clean</button>
  </form>

  